<div class="block-qa">
  <% if (block.block_data.question) { %>
  <h3><%= block.block_data.question %></h3>
  <% } %>
  <% if (block.block_data.reponse) { %>
  <div><%- block.block_data.reponse %></div>
  <% } %>
</div>
