<!--
  Block: Rich Text
  Purpose: Contained rich HTML content (matches c-rich-text inside l-container l-section)
  Expected Data: block.block_data = { richText }
-->
<article class="l-container l-section" id="<%= block.id ? 'block-' + block.id : 'rich-text' %>">
  <div class="c-rich-text">
    <%- block.block_data.richText %>
  </div>
</article>
